*{
    background: #eedae4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 150%;

}

.headerPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerPrincipal {
	background-color: #eedae4;
	padding: 20px 0;
}

.headerPrincipal-nav {
    display: flex;
    margin: 0 0 0 0;
}


.headerPrincipal-titulo {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.headerPrincipal-titulo a {
	text-decoration: none;
	color: inherit;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
}

.container {
	width: 94%;
	margin: 0 auto;
}

.headerPrincipal-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color: #9799A6;
	background-color: #eedae4;
	text-decoration: none;
	transition: .5s;
	display: block;

	border-bottom: 1px solid #9799A6;
}

.contenidoPrincipal {
	margin-top: 20px;
	margin-bottom: 20px;
}

.contenidoPrincipal-cursos-link a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

	.headerPrincipal-nav-link:hover {
		color: #FFF;
		background-color: #7aacb3;
	}

.headerPrincipal-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color: #4c6e81;
	background-color: #eedae4;
	text-decoration: none;
	transition: .5s;
	display: block;

	border-bottom: 1px solid #9799A6;
}

.div-titulo-principal {
    grid-column: 2 / 3
  }

.div-btn {
    grid-column: 2 / 3
  }

.laptop {
    display: inline;
    width: 30px;
    color: #925e76;
    height: 30px;
}

.titulo-principal{
    text-align: center;
    display: inline;
    color: #572840;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, .50) ;
    font-size: 50px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;

}

.icon-btn{
    background: #925e76;
}

.btn-proyecto{
    background: #925e76;
    border: 1px solid #b07a93;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    font-size: 25px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, .50) ;

}


@media screen and (max-width: 576px){
    main, header{
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        margin-left: 20px;

    
    }
}