* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 150%;

}

body {
  background: #eedae4;
}

#botup {
  position: fixed;
  display: none;
  top: 0px;
  left: 100px;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  line-height: 1;
  text-align: center;
  background-color: orange
}

.container {
  width: 94%;
  margin: 0 auto;
}



/*-------------------------- seccion sobre mi ----------------------------------*/

.div-sobre-mi {
  background-color: #AAC9CE;
  padding: 25px 0;
  font-size: 1.3em;
  line-height: 2;
  margin-top: 50px;
  margin-bottom: 20px;

}

.div-sobre-mi .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-sobre-mi {
  font-weight: bold;
}

.contenido-sobre-mi {
  width: 90%;
  align-items: center;
}



/*--------------------- footer ---------------------*/

.rodapePrincipal {
  background-color: #966978;
  padding-top: 20px;
  padding-bottom: 30px;

}

.rodapePrincipal .container {
  display: flex;
  flex-direction: column;
}

.footer-contenido {
  text-align: center;
  align-self: center;
}

.rodapePrincipal .subtitulo {
  color: #FFF;
}


@media (max-width: 768px) {

  main,
  header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 20px;


  }

  .seccion-skills .container {
    flex-direction: column;
    align-items: initial;
    text-align: center;
  }


  .card {


    width: 23%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100px;
    background-color: #e2b6c6;

    margin: 1%;
    transition: .3s;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, .50);


  }


  .contenido-cards {
    width: 100%;
  }

  .rodapePrincipal-patrocinadores .container {
    flex-direction: column;
  }


}

/*.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
}

.div-titulo-principal {
    grid-column: 2 / 3
  }

.div-btn {
    grid-column: 2 / 3
  }

*/

/*background-color: #AAC9CE;
	background-color: #F1FFFA;
	background-color: #DDDDDA;
	background-color: #EBCFC4;
	background-color: #F4EEE1;
	background-color: #EFF4F8;
	background-color: #cc9fa8;
	background-color: #E5C1CD;*/