*{  
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 150%;

}

body{
    background: #eedae4;
}

.container {
	width: 94%;
	margin: 0 auto;
}

/* Menu principal */

.headerPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerPrincipal {
	background-color: #eedae4;
	padding: 20px 0;
}

.headerPrincipal-nav {
    display: flex;
    margin: 0 0 0 0;
}


.headerPrincipal-titulo {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.headerPrincipal-titulo a {
	text-decoration: none;
	color: inherit;
}

.headerPrincipal-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color: #9799A6;
	background-color: #eedae4;
	text-decoration: none;
	transition: .5s;
	display: block;

	border-bottom: 1px solid #9799A6;
}

.headerPrincipal-nav-link:hover {
	color: #FFF;
	background-color: #7aacb3;
}

/*.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
}

.div-titulo-principal {
    grid-column: 2 / 3
  }

.div-btn {
    grid-column: 2 / 3
  }

*/

.icon-fondo {
    display: inline;
    width: 30px;
    color: #925e76;
    height: 30px;
}

/* contenido principal (nombre y avatar) */

.contenidoPrincipal {
	padding: 25px 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

.contenidoPrincipal .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-principal{
    text-align: center;
    display: inline;
    color: #572840;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, .50) ;
    font-size: 50px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    background: #eedae4;

}

.div-nombre {
	font-size: 1.3em;
	line-height: 2;

    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.div-avatar {
    max-width: 100%;

    width: 30%;
    flex-grow: 2;
    flex-shrink: 2;
}

.contenidoPrincipal-btn {
    flex-grow: 2;
}

.contenidoPrincipal-cursos-link a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.inks-profesionales-nav {
    display: flex;
    justify-content: space-between;
}

.nav-link-profesional {
	padding: 10px;
	margin-bottom: 10px;
	color: #633E63;
	background-color: #eedae4;
	text-decoration: none;
	transition: .5s;
     flex-grow: 2;
}

.nav-link-profesional:hover {
	color: #FFF;
	background-color: #aa5377;
    border-radius: 40px;
}

/* seccion sobre mi */

.div-sobre-mi {
	background-color: #AAC9CE;
	padding: 25px 0;
    font-size: 1.3em;
	line-height: 2;
	margin-top: 20px;
	margin-bottom: 20px;

}

.div-sobre-mi .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-sobre-mi{
    font-weight: bold;
}

.contenido-sobre-mi {
    width: 90%;
    align-items: center;
}

/* skills */

.seccion-skills {
	padding: 25px 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

.contenido-cards {
	margin-top: 20px;
	margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
}

.titulo-card {
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
	text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}

.card {
    display: flex;
    width: 12%; 
    flex-direction: column;
    align-items: center;
	height: 130px;
	background-color: #e2b6c6;
	/*background-color: #cc9fa8;
	background-color: #E5C1CD;*/
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .50);
	position: relative;
}

.img-card{
    width: 80px;
   margin: 10px;
}

.texto-card {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.card:hover {

   /* background-color: #FFFBDE;*/
    background-color: #C78AB6;
	box-shadow: 4px 4px 4px #3B3759;
}

.texto-card:hover{
    color: white;

}

.card .texto-card:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 20px auto;
}


/* soft skills */


.card-soft-skills {
    display: flex;
    width: 12%; 
    flex-direction: column;
    align-items: center;

    border-radius: 30px  ;

	height: 150px;
	background-color: #e2b6c6;
	/*background-color: #cc9fa8;
	background-color: #E5C1CD;*/
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .50);
	position: relative;
}

.card-soft-skills:hover {

   /* background-color: #FFFBDE;*/
    background-color: #C78AB6;
	box-shadow: 4px 4px 4px #3B3759;
}

.card-soft-skills .texto-card:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 30px auto;
}


/* hobbies */

.seccion-hobbies {
	/*background-color: #b66e9d;*/
	background-color: #AF5972;
	padding-top: 20px;
    margin-top: 20px;
    color: #ebebeb;
}

.contenido-cards-hobbies {
	margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.card-hobbies {
    display: flex;
    width: 23%; 
    flex-direction: column;
    align-items: center;

    border-radius: 20px;

	height: 180px;
	background-color: #e2b6c6;
	/*background-color: #cc9fa8;
	background-color: #E5C1CD;*/
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .50);
	position: relative;
}

.img-card-hobbies {
    width: 100px;
   margin: 20px;
}

.texto-card-hobbies {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
    font-size: large;
}

.card-hobbies:hover {

   /* background-color: #FFFBDE;*/
    background-color: #C78AB6;
	box-shadow: 4px 4px 4px #3B3759;
     color: white;
}

.texto-card-hobbies:hover {
    color: white;
}

.card-hobbies .texto-card-hobbies:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 40px auto;
}

/* Formacion */

.seccion-formacion {
	/*background-color: #b66e9d;
	background-color: #AF5972;
	background-color: #AAC9CE;*/
	background-color: #034C65;
	padding: 25px 0;
     font-size: 1.3em;
	line-height: 2;
	margin-bottom: 20px;
	color: #ebebeb;
}

.contenido-cards-formacion {
	margin-top: 20px;
	margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;

}

.card-formacion {
    display: flex;
    width: 31%; 
    flex-direction: column;
    align-items: center;
	height: 400px;

	background-color: #AAC9CE;
	background-color: #F1FFFA;
	background-color: #DDDDDA;
	/*	background-color: #EBCFC4;
	background-color: #F4EEE1;
	background-color: #EFF4F8;
	background-color: #cc9fa8;
	background-color: #E5C1CD;*/
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .50);
	position: relative;
}

.card-img-formacion {
    display: flex;
    width: auto; 
    flex-direction: column;
    align-items: center;
	height: 250px;
 	border-radius: 20px;
	background-color: white;

	text-align: center;
	margin: 4%;

	position: relative;
}

.img-formacion{
    width: 150px;
   margin: 10px;
}

.titulo-texto-card-formacion{
	color: #000;
	font-family: 'IBM Plex Mono', monospace;
	width: 100%;
	height: 100%;
	margin-top: 20px;

}

.texto-card-formacion {
	text-decoration: none;
	color: #000;
	width: 100%;
	height: 100%;
	margin-top: 0;


}

.btn-certificado{
    background: #93B7BE;
    border: 1px solid #F1FFFA;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    font-size: 25px;
	transition: 1s;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, .50) ;

}

.card-formacion .texto-card:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 30px auto;
}

.btn-certificado:hover{
    background: #F1FFFA;
    border: 1px solid #93B7BE;
    color: #93B7BE;
    cursor: pointer;
	box-shadow: inset 0px 4px 5px rgba(0, 0, 0, .50) ;

}

/*seccion proyectos*/

.seccion-proyectos {
	padding: 25px 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

.contenido-cards-proyectos {
	margin-top: 20px;
	margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.div-btn {
    margin: 10px;
}

.icon-btn{
    background: #925e76;
}

.btn-proyecto{
    background: #925e76;
    border: 1px solid #b07a93;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    font-size: 25px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, .50) ;

}

.card-proyectos {
    display: flex;
    width: 12%; 
    flex-direction: column;
    align-items: center;
	height: 130px;
	background-color: #e2b6c6;
	/*background-color: #cc9fa8;
	background-color: #E5C1CD;*/
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .50);
	position: relative;
}

.img-card{
    width: 80px;
   margin: 10px;
}

.texto-card {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.card:hover {

   /* background-color: #FFFBDE;*/
    background-color: #C78AB6;
	box-shadow: 4px 4px 4px #3B3759;
}

.texto-card:hover{
    color: white;

}

.card .texto-card:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 20px auto;
}




@media  (max-width: 576px){
    main, header{
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        margin-left: 20px;

    
    }
}